//BUTTONS

.button {
font-size: inherit;
}

button,
.button {
    background-color: $color-links;
    color: #fff;
    padding: 1em 2em;
    display: inline-block;
    margin: .5em;
    border-radius: .5em;  

    &:hover {
        background-color: $color-links-dark;
        color: #fff;
    }
}